{% extends "management/base.html" %}
{% block title %}Dashboard · {{ super() }}{% endblock %}
{% block main %}
<div class="container-fluid p-0">
    {% for i in range(metrics.__len__()) %}
    {% if i % 2 == 0 %}
    {% with row = metrics[i:i + 2] %}
    <div class="row">
        {% for metric in row %}
        <div class="col-lg-6">
            {% include "management/metric.html" %}
        </div>
        {% endfor %}
    </div>
    {% endwith %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
