{% extends "management/base.html" %}
{% block title %}{{ title }} · Search · {{ super() }}{% endblock %}
{% block main %}
<div class="container-fluid p-0">
<p class="py-2 pb-3">You searched for {{ title }}, which gave {{ result.__len__() }} results:</p>
{% for i in range(result.__len__()) %}
    {% if i % 6 == 0 %}
    {% with row = result[i:i + 6] %}
    <div class="row">
        {% for doc in row %}
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ doc['href'] }}" class="card-link">{{ doc['name'] }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ doc['uuid'].split('-')[0] }}...</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ doc['type'] }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endwith %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('global-search-input').focus();
});
</script>
{% endblock %}
